/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets

# Node modules
node_modules/

# Ignore master key for decrypting credentials and more.
/config/master.key
.env*
!.env.example

# Ignore cursor rules
/.cursor/*

# Ignore test requests
/requests/*

/config/credentials/development.key

/config/credentials/staging.key

/config/credentials/production.key

# Ignore .DS_Store
.DS_Store
# Ignore key files for decrypting credentials and more.
/config/*.key

