<div id="swagger-ui"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@5.24.0/swagger-ui.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@5.24.0/swagger-ui-bundle.min.js"></script>
<script>
  window.onload = () => {
    SwaggerUIBundle(<%= raw @config_object.to_json %>);
  };
</script>