<div class="page-min-height py-50px">
  <div class="navbar-height"></div>
  <div class="container">
    <div class="mw-58">
      <h1 class="mb-2pc">Désolé, cette page n’est plus disponible.</h1>
      <%= link_to "Aller à l'accueil du site", root_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
